*{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(241, 225, 225);
}

.menu-nav {
    list-style:none;
    background-color: rgb(181, 197,215);
    background-size: cover;
    position: sticky;
    top: 0;
    height:50px;
}

@media (max-width: 576px) {
  .menu-nav{ 
    height:60px;
  }
}

a{
    text-decoration: none;
    color: rgb(104, 14, 104);
}

li{
    font-size: 20px;/*ancho de fuente*/
    font-family:"Monserrat";
    text-align: center;
    display:inline-block;
    width: 10%;
    position: relative;
    left: 25%;
    margin-top: 10px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display:block;
}

ul li:hover ul {
    display:block;
    background-color:rgb(134, 145, 158);
    text-align: center;

}

@font-face {
    font-family: "Hurricane-Regular";
    src:url("../fonts/Hurricane/Hurricane-Regular.ttf")
}


.fondo-inicio{
    background-image: url("../img/fondoblancomacaronesyfloresbanner.jpg");
    background-size: cover;
    height: 50vh;  
}

.titulo-piel{
    color:rgb(233, 150, 102);/*color de letra*/
    font-family: Hurricane-Regular;/*fuente de letra*/
    font-weight: 200;
    text-align: center; 
    text-shadow: 0 9px 0 rgb(10, 9, 6);
}

.letra-grande{
    font-size: 150px;
}

.letra-mediana{
    font-size: 50px;
}

.subtitulo-gris {
    font-family:"Monserrat";
    font-weight: 300 bold;
    font-style: italic;
    color:rgb(134, 145, 158);
    text-shadow: 0 1px 0 black;
}

.titulosPaginas{
    font-family:"Hurricane-Regular";
    font-weight:200;
    font-size: 80px;
    text-align: center;
    color:rgb(131, 153, 182);
    text-shadow: 0 3px 0 black;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    border-bottom: 3px  solid rgb(11, 80, 9);
    text-align:center;
    font-size:30px;
    z-index:100;
    overflow: hidden;
  }
  
.tamaño-letra-whatsapp {
    font-size:15px;
    text-align: center;
}


.nosotrosContenedor__parrafo {
    font-family: "Monserrat";
    font-size: 25px;
    font-style: italic;
    text-align: center;
    color:rgb(139, 154, 173);
}


.pieCard__parrafo {
    text-align:center;
    font-size:20px ;
    font-family: "Monserrat";
    font-weight:100;
}


ul.slider{
    position: relative;
    width: 900px;
    height:400px;
    overflow: hidden;
} 


ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width:inherit;
    height: inherit;
    background-color: aliceblue;
    transition: opacity .5s;
}

ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menuslider li{
    text-align: center;
    display: inline block;
}

.menuslider li a{
    display: inline-block;
    color:rgb(97, 8, 100);
    text-decoration: none;
    background-color: rgb(243, 221, 209);
    padding:30px;
    height:20px;
    width: 25px;
    font-size: 25px;
    border-radius: 30%;
    border-bottom: 3px  solid rgb(104, 14, 104);
    overflow: hidden;
}

.slider4-contenedor{
    background-image: url("../img/slider4fondo.jpg");
    background-size: cover;
    overflow: hidden;
}

ul.slider li  a{
    background-color: rgb(243, 221, 209);
    border-radius:50%;
    border-bottom: 3px  solid rgb(104, 14, 104);
    font-weight: bold;
    text-align: center;
}

.letra-slider4{
    text-align: center;
    color:rgb(72, 81, 92);
    font-style: italic;
    margin-top: 100px;
    padding: 60px;
}

.contenedorDatosContacto{
    width: 40%;
    text-align: center;
    font-family: "Monserrat";
    font-size: 20px ;
    color:rgb(139, 154, 173);
    margin-left:430px;
}

.contenedorEventos{
    width: 60%;
    text-align: center;
    font-family: "Monserrat";
    font-size: 20px ;
    margin-left: 200px;
    padding: 50px;

}



.box-inicio-slider{
    margin:300px 190px;
    background-color: aliceblue;
    width:900px;
    padding:30px;
    overflow: hidden;

}



.imagen-productos{
    height:300px;
    align-content: center;

}

.imagen-torta{
    height:350px;
    width: 335px;

}

.imagen-desayuno{
    height:350px;
    max-width: 355px;

}


/*Desarrollo Mobile*/

@media (min-width: 576px) {
  .grid-container {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.3fr 2.6fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "grid-navBar grid-navBar grid-navBar"
    ". grid-main ."
    "grid-footer grid-footer grid-footer";
  }
  
  .grid-navBar- { 
    grid-area: grid-navBar-; 

  }
  
  .grid-footer { 
    grid-area: grid-footer;
  }
  
  .grid-main {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.8fr 1.8fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "espacio1"
      "box1"
      "box2"
      "espacio2";
    grid-area: grid-main;
  }
  
  .espacio1 { 
    grid-area: espacio1; 
  }
  
  .espacio2 { 
    grid-area: espacio2; 
  }
  
  .box1 {
     grid-area: box1; 
    }
  
  .box2 { 
    grid-area: box2; 
  }
}

  /*productos responsive*/
  @media (min-width: 576px) {

  .grid-containerProductos {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.3fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". grid-navBar- ."
      ". grid-productos ."
      ". grid-footer .";
  }
    
  .grid-productos {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr 2.8fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "espacio1"
      "box-titulo"
      "box-productos"
      "espacio2";
    grid-area: grid-productos;
  }
  
  .espacio1 { grid-area: espacio1; }
  
  .espacio2 { grid-area: espacio2; }
  
  .box-titulo { grid-area: box-titulo; }
  
  .box-productos {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow:row;
    grid-template-areas:
      "box-panaderia"
      "box-pasteleria";
    grid-area: box-productos;
  }
  
  .box-panaderia {
    grid-area: box-panaderia;
    width: 500px;

   }
  
  .box-pasteleria { 
    grid-area: box-pasteleria; 
    width: 500px;
  
  }
  
} 



  /* Desarrollo Desktop*/

.grid-container {  
    display: grid;
    grid-template-columns: 0.2fr 1.7fr 0.2fr;
    grid-template-rows: 0.3fr 3fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-navBar grid-navBar grid-navBar"
      ". grid-main ."
      "grid-footer grid-footer grid-footer";
  }
  
  .grid-navBar { 
      grid-area: grid-navBar; 
    }
  
  .grid-footer { 
      grid-area: grid-footer;
      display: flex;
      padding: 10px;
      font-size: 1.6rem;
      text-align: center;
      justify-content: center;
      background-color: rgb(181, 197,215);
  
    }
 
   
  .grid-main {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "box1"
      "box2";
    grid-area: grid-main;
    align-content: center;
  }
  
  .box1 {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "img-inicio"
      "parrafo-inicio";
    grid-area: box1;
    text-align: center;
  } 
  
  @media (min-width: 576px) {
    .box1{
      padding:20px;
      align-content: center;
    }
  }

.img-inicio { 
      grid-area: img-inicio;
    }
  
.parrafo-inicio { 
      grid-area: parrafo-inicio; 
    }

  @media (min-width: 576px) {
   .parrafo-inicio{
     margin-top: 0px ;
     width: 70%;
     margin-left: 100px;
   }
  }  
  
  
.box2 { 
      display: grid;
      grid-area: box2;
      padding-left: 80px;
     }

@media (min-width: 576px){
  .box2{
    align-content: center;
    padding:20px;
  }
}
  

 
.grid-containerProductos {
    display: grid; 
    grid-template-columns: 0.2fr 1.7fr 0.2fr; 
    grid-template-rows: 0.3fr 3fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid-navBar grid-navBar grid-navBar"
      ". grid-productos ."
      "grid-footer grid-footer grid-footer"; 
  }
  
.grid-productos {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "box-titulo"
      "box-productos";
    grid-area: grid-productos;
  }
  
  .box-titulo { 
    grid-area: box-titulo;
  }
  
  .box-productos {  
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 14px;
    grid-auto-flow: row;
    grid-template-areas:
      "box-panaderia  box-pasteleria";
    grid-area: box-productos;
    align-content: center;
  }
  
  .box-panaderia { 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: box-panaderia;
    background-color: rgb(228, 188, 212); 
    text-align: center;
    border-radius: 50px; 
    overflow: hidden;
    grid-template-areas:
    "imagen-productos";
 }

  .box-pasteleria {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;  
      grid-area: box-pasteleria;
      background-color: rgb(228, 188, 212); 
      text-align: center;
      border-radius: 50px; 
      overflow: hidden;
      grid-template-areas:
      "imagen-productos";
   
    }

    .grid-containerRegalaDulce { 
        display: grid;
        grid-template-columns: 0.2fr 1.7fr 0.2fr;
        grid-template-rows: 0.3fr 3fr 0.4fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "grid-navBar grid-navBar grid-navBar"
        ". grid-regalaDulce ."
          "grid-footer grid-footer grid-footer";
      }
      
      
      .grid-regalaDulce {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr;
        gap: 0px 12px;
        grid-auto-flow: row;
        align-content: center;
        grid-template-areas:
          "box-titulo"
          "box-productos";
        grid-area: grid-regalaDulce;
      }
      
      .box-titulo { 
        grid-area: box-titulo; }
      
      .box-productosRegalaDulce {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 14px;
        grid-auto-flow: row;
        grid-template-areas:
          "box-tortas box-desayunos"
          "box-especiales box-bombones";
        grid-area: box-productos;
      }
      
      .box-tortas { 
          grid-area: box-tortas;
          display:flex;
 
        }
      
      .box-desayunos { 
          grid-area: box-desayunos;
          display:flex;
 
        }
      
      .box-especiales { 
          grid-area: box-especiales;
          display:flex;
 
        }
      
      .box-bombones { 
          grid-area: box-bombones;
          display:flex;
 
        }


 
      

    /*animación titulo*/
    @keyframes aparecer {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
   }

     h1 {
      animation-duration: 5s;
      animation-name: aparecer;
      animation-iteration-count:1;
   }

   img{
     max-width: 100%;
     width: 300px;
     height: 400px;
   }
   
   .nav-item{
     margin: 15px;;
   }

  
   
  



  